
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
    flex-wrap: wrap;
}

.title {
    font-size: 24px;
    font-weight: bold;
    word-wrap: nowrap;
}
.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


.right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    gap: 10px;
}

.social-item {
    position: relative;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}
.tooltip {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.social-link:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.email {
    height: 5px;
margin-bottom: 5px;
}

.email-link {
    text-decoration: none;
    color: #cbd5e1;
    font-weight: 200;
    font-size: 16px;
}

.email-link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column; 
        align-items: center; 
        text-align: center;

        margin: 0 auto;
    }

    .right-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .header-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 24px;
        text-align: center;
    }
    .icon {
        width: 25px;
        height: 25px;
    
    }

    .social-list {
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .email {
        font-size: 14px;
    }
}
